 /**
*
* Colours

*
**/
 $primaryColor:#1f1a1f;
 $secondaryColor:#1f1a1f;
 $tertiaryColor:#ececec;

 $highlightColor:#b3d01e;
 $lightFontColor:white;
 $darkFontColor:#333;
 $white:#ffffff;
 $black:#1f1a1f;
 /**
 *
 * Spaces
 *
 **/
 $double-space: 48px;
 $full-half-space:36px;
 $full-space: 24px;
 $half-space:12px;
 $quarter-space:6px;
 .background-color--primary {
     background-color:$primaryColor;
     color:$lightFontColor;
     h1,h2,h3,h4,h5,h6{
     	color:$lightFontColor
     }
 }
 .background-color--secondary {
     background-color:$secondaryColor;
     color:$lightFontColor;
 }
 .background-color--tertiary {
     background-color:$tertiaryColor;
     color:$darkFontColor;
 }
