<div class="menu">
    <div class="menuHeaders">
        <div class="container">
            <ul class="nav horizontal">
                <li ng-repeat="item in menuItems" ng-mouseover="menuHover($index)">
                    <a href="#/{{item.topLink}}">{{item.section}}</a>
                </li>
            </ul>
            <div class="dots" ng-class="currentHover">
                <div class="dot dot1" id="dot1"></div>
                <div class="dot dot2" id="dot2"></div>
                <div class="dot dot3" id="dot3"></div>
            </div>

        </div>
    </div>
    <div class="menuContainer">
        <div class="container--wide-menu">
            <div class="menuSubContainer" ng-class="currentHover">
                <div class="menuBlock it-{{item.links.length}}" id="labs0" ng-repeat="item in menuItems">
                    <ul>
                        <li ng-repeat="links in item.links" ng-class="{ active: isActive('/'+links.link) }">
                            <a href="#/{{links.link}}"><img class="svgInject menu--icons icon--{{links.icon}}" data-src="images/icons/menus/{{links.icon}}.svg" alt="">
                            <div class="linktext">
                                {{links.title}}
                            </div></a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
