<section class="openinghours">
    <div class="nextWeek">
        <a ng-click="selectThisWeek()" ng-class="{'active':selectedWeek == 0}" >This Week</a>
        <a ng-click="selectNextWeek()" ng-class="{'active':selectedWeek == 1}">Next Week</a>
    </div>

    <div class="selector ">
        <h3 ng-click="makeSelection($index,$event)" ng-repeat="day in weekSelect" ng-class="{active: $index == selected}">{{day}}</h3>
    </div>

    <div class="times clearfix">
        <div class="grid" ng-repeat="day in openingHours" ng-show="{{day.day}}">
            <div class="gridRow ">
                <p class="title">
                    <strong>Fabrication Labs</strong>
                </p>
                <div ng-repeat="item in day.days  track by $index" class="time headings ">
                    {{item}}
                </div>
            </div>
            <div class="gridRow ">
                <p class="title">Wood</p>
                <div ng-repeat="item in day.wood  track by $index" class="time time-animation {{item}}">
                </div>
            </div>
            <div class="gridRow ">
                <p class="title">Metal</p>
                <div ng-repeat="item in day.metal  track by $index" class="time time-animation {{item}}">
                </div>
            </div>
            <div class="gridRow ">
                <p class="title">Digfab</p>
                <div ng-repeat="item in day.digfab  track by $index" class="time time-animation {{item}}">
                </div>
            </div>
            <div class="gridRow push-half--top ">
                <p class="title">
                    <strong>Media Lab</strong>
                </p>

            </div>
            <div class="gridRow ">
                <p class="title">2D Media</p>
                <div ng-repeat="item in day.open2d  track by $index" class="time time-animation {{item}}">
                </div>
            </div>
            <div class="gridRow ">
                <p class="title">3D Media</p>
                <div ng-repeat="item in day.open3d  track by $index" class="time time-animation {{item}}">
                </div>
            </div>
            <div class="gridRow ">
                <p class="title">Mixed Media</p>
                <div ng-repeat="item in day.mixed  track by $index" class="time time-animation {{item}}">
                </div>
            </div>


        </div>
    </div>
</section>
