.icon--digFab {
    width:180px;
}
.icon--metalastics {
    width:180px;
}
.icon--timber {
    width:283px;
    margin-left: -45px;
}
.icon--mediaLab {
    width:180px;
}
.icon--bookings {
    width:180px;
}
.icon--downloads {
    width:180px;
}
.icon--learn {
    width:220px;
}
