.openinghours {
    overflow: hidden;
    .selector {
        padding: $full-space 0px;
        h3 {
            font-weight: 200;
            line-height: 1;
            cursor: pointer;
            color: $darkFontColor;
        }
        h3:hover {
            font-weight: 600;
        }
        h3:active, h3.active {
            font-weight: 600;
        }
    }
    .row {
        width: 100%;
        float: left;
    }
    .times {
        padding: 0px 0px;
        p {
            margin-bottom: 0;
            margin-right: 5px;
            padding-right: 5px;
            margin-top: 5px;
        }
        .grid {
            .gridRow {
                width: 100%;
                float: left;
            }
            .topTitle {
                width: 100%;
            }
            .title {
                width: 125px;
                text-align: right;
                float: left;
                strong {
                    color: $darkFontColor;
                }
            }
            .time.headings {
                border: none;
            }
            .time {
                float: left;
                margin: 1px;
                font-weight: 100;
                text-align: right;
                padding-top: 5px;
                font-size: 14px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 3px;
                &.Open {
                    background-color: #d1e067;
                    height: 28px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1280px) {
    .openinghours {
        .selector {
            width: 180px;
            float: left;
        }
        .times {
            width: 1100px;
            float: left;
            padding: 0px 0px;
            p {
                margin-bottom: 0;
                margin-right: 20px;
                padding-right: 5px;
            }
            .grid {
                .gridRow {
                    height: 30px;
                    width: 100%;
                    float: left;
                }
                .topTitle {
                    width: 100%;
                }
                .title {
                    width: 200px;
                    text-align: right;
                    float: left;
                    margin-right: 20px;
                    strong {
                        font-size: 24px;
                    }
                }
                .time {
                    width: 65px;
                    float: left;
                    margin: 1px;
                    height: 28px;
                    font-weight: 100;
                    text-align: right;
                    font-size: 14px;
                    &.Open {
                        background-color: #d1e067;
                        height: 28px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
    .openinghours {
        .selector {
            width: 100%;
            h3 {
                display: inline;
                margin-right: $half-space;
            }
        }
        .times {
            width: 100%;
            padding: 0px 0px;
            p {
                margin-bottom: 0;
                margin-right: 5px;
                padding-right: 5px;
            }
            .grid {
                .gridRow {
                    height: 30px;
                    width: 100%;
                    float: left;
                }
                .topTitle {
                    width: 100%;
                }
                .title {
                    width: 125px;
                    text-align: right;
                    float: left;
                    margin-right: 20px;
                }
                .time {
                    width: 65px;
                    float: left;
                    margin: 1px;
                    height: 28px;
                    font-weight: 100;
                    text-align: right;
                    font-size: 14px;
                    &.Open {
                        background-color: #d1e067;
                    }
                }
            }
        }
    }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {}
/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {}@-webkit-keyframes enter_animation {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes enter_animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes leave_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes leave_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.time-animation.ng-enter-stagger, .time-animation.ng-leave-stagger, .time-animation.ng-move-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.time-animation.ng-enter, .time-animation.ng-leave, .time-animation.ng-move {
    -webkit-transition: 0.1s linear all;
    transition: 0.1s linear all;
}
.time-animation.ng-leave.ng-leave-active, .time-animation.ng-enter, .time-animation.ng-move {
    -webkit-transition: 0.1s linear all;
    transition: 0.1s linear all;
    opacity: 0;
    line-height: 0;
}
.time-animation.ng-leave, .time-animation.ng-move.ng-move-active, .time-animation.ng-enter.ng-enter-active {
    opacity: 1;
    line-height: 20px;
}
