<div class="container labBlurb push--ends">
    <p>{{blurb}} <a ng-show="!showBlurb" ng-click="showBlurb = true" href="">Want to know more?</a>
    </p>
    <div ng-show="showBlurb" class="" style="" ng-bind-html="blurbExpanded"> 
    </div>
</div>

<div class="container--wide-small background-color--primary machines__header" style="">
    <div class="container">
        <h2>machines & equipment</h2>
    </div>
</div>






<div>
    <div class="grid machines">
        <div ng-repeat="item in machines" class="grid__item  one-third">
            <a href="#/machine/{{item.link}}">
                <div class="machine">
                    <div class="bkImg" style="background-color:#{{item.col}}"></div>
                    <div class="bkImg" style="background-image:url(images/labs/{{item.img}});opacity:{{item.op}}"></div>
                    <div class="text">
                        <h2>{{item.name}}</h2>
                        <p>{{item.desc}}</p>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>






