<div class="container push-double--ends">
    <p>Enabling the rapid and accurate production of prototypes and finished designs and extensive research opportunities in robotics, advanced fabrication through computation and material properties. <a href="">Want to know more?</a>
    </p>
    <div class="hidden" style="display:none">
    <p>Within the Digital Fabrication Laboratory and supported by the adjacent Wood Technology Lab and Metalastics Studio, students from within the Faculty are provided with the opportunity to expand and explore their ideas in practical and hands-on form with tangible outputs. The extensive range of facilities in all of the Fabrication Labs as well as the high level of expertise and experience provided by DMaF staff members facilitates this by introducing students and staff to a wide range of both traditional and advanced digital methods of fabrication along with the software that accompanies these. It makes a broad range of complex technology such as the KUKA KR60 6 axis Robot Arm with milling spindle, 3 Axis Multicam CNC Router, 4 axis Roland Modela Mill, numerous Laser Cutters and Rapid Prototypers available to students and staff and provides them with the skills and understanding to achieve a high level of independence in research and study.</p>

    <p>The DMaF operates as a essential part of the Faculty of Architecture, Design and Planning’s Bachelor of Design in Architecture, Masters of Architecture, Bachelor of Design Computing, Interaction Design and Electronic Arts as well as many other programs and degrees. The DMaF teaching and research environment enables and encourages a collaborative work process between staff and students throughout the Faculty and promotes a greater synergy between research, experimentation and education.</p>

    <p>This site will provide up to date information on the DMaF’s staff, range of machinery available, reservations as well as important tips for preparing digital fabrication files. Please note that student and staff access to the DMaF, including the Digital Fabrication Lab is subject to completion of the Safety Induction Competency Course.
    </p>
    </div>
</div>

<div class="container--wide-small background-color--primary machines__header" style="">
    <div class="">
        <h1>machines & equipment</h1>
    </div>
</div>










<div>
    <div class="grid machines">
        <div ng-repeat="item in machines" class="grid__item  one-third">
            <a href="#/machine/{{item.link}}">
                <div class="machine">
                    <div class="bkImg" style="background-color:#{{item.col}}"></div>
                    <div class="bkImg" style="background-image:url(images/labs/{{item.img}});opacity:{{item.op}}"></div>
                    <div class="text">
                        <h2>{{item.name}}</h2>
                        <p>{{item.desc}}</p>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>






<div class="footer--giant">
    <h4>the revolution will be printed</h4>
</div>
