<div class="container--wide-small background-color--primary machines__header" style="">
<div class="container">
        </div>
</div>



<div class="container">
<div class="grid">
	<div class="grid__item two-thirds">
		<img style="width:100%;" src="http://i2.createsend1.com/ti/y/A6/C53/170/123828/images/robotsheader.123735.jpg" alt="">

	</div><div class="grid__item one-third soft--left soft--ends">
			<p>	
YOU'RE INVITED!</p><p>

The Faculty of Architecture, Design and Planning is excited to invite you to the opening night of Robots, Fabrication and Design showcase exhibition, Thursday August 21 at 6pm, hosted in conjunction with Sydney Design 2014.</p><p>

Now in its 3rd year, the exhibition has expanded – drawing on works from across all disciplines, exposing the incredibly high quality of models, interactive prototypes and full scale architectural works created by staff, students and design researchers in the Faculty.</p><p>

The success of these works is made possible through the support of team of highly skilled technical designers, working directly with students in the most advanced digital fabrication lab dedicated to Architecture and Design in Australia.</p><p>

This year’s exhibition will showcase the Master of Architecture and Design Lab Mid-Year Graduates, Noel Chettle Awards, the Smart Structures exhibition, PhD Student and Staff Research projects, as well as bringing home projects that featured at events around the world including Vivid Sydney.</p><p>

Come along and sample a cocktail at the Kuka robot bar, have your face painted by the CNC Router or 3d printed by the Makerbots, and snap up one of this years coveted pendant lighting designs that will adorn the fabrication labs as you explore the exhibition (orders can be placed on the night!).</p>
	</div>
</div>

</div>
