.questions{
	background-color:$primaryColor;
	h1{
		color:$white;
		span{
			background-color: white;
			  border-radius: 12px;
			  padding: 15px;
			  color: black;
			  position: relative;
			  margin-right: 15px;
			  width: 156px;
		}
	}
	.questionsDropdown{
		max-height: 0;
		position: absolute;
		background-color: transparent;
		left: 0;
		top: 78%;
		width: 100%;
		opacity:0;
		transition: 0.4s all;
		padding: 30px 15px 15px;
		border: 1px solid white;
		color: white;
		 a {
		 	 text-decoration: none;
 			 color: white;
 			 opacity:0;
 			 padding:6px 0 6px;
 			 transition: 0.6s all 0.4s;
		 }
		 &.open{
		 	max-height: 200px;
			border-bottom-left-radius: 12px;
			border-bottom-right-radius: 12px;
			opacity:1;
			a{
				opacity: 1;
				
				float: left;
			}
		 }
	}
}